[Service]
WorkingDirectory=/home/APP/src/

# -u unbuffered
# -OO optimized by remove docstring, assert
ExecStart=/home/APP/bin/python3 -u -OO /home/APP/src/app.py --port=%I
Restart=always
User=APP
SyslogIdentifier=APP
Environment=ENV=production
# To customize, create a folder APP@.service.d and and secret.conf file there

[Install]
WantedBy=multi-user.target
